body {
    /* background-image: url('../images/b2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}

.login-card {
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.register-card {
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.custom-btn-theme {
    float: right;
}

.icon-btn-one {
    background-color: #6495ed;
    color: #fff;
}

/*
zn */
/* left to right excel/pdf button */
.dataTables_wrapper .dt-buttons {
    float: right;
    margin-top: -38px;
}

table.dataTable>thead .sorting::before,
table.dataTable>thead .sorting_asc::before,
table.dataTable>thead .sorting_desc::before,
table.dataTable>thead .sorting_asc_disabled::before,
table.dataTable>thead .sorting_desc_disabled::before {
    right: 0;
    content: "";
}

table.dataTable>thead .sorting::after,
table.dataTable>thead .sorting_asc::after,
table.dataTable>thead .sorting_desc::after,
table.dataTable>thead .sorting_asc_disabled::after,
table.dataTable>thead .sorting_desc_disabled::after {
    right: 0;
    content: "";
}

table.dataTable>thead>tr>th:not(.sorting_disabled),
table.dataTable>thead>tr>td:not(.sorting_disabled) {
    padding-right: 4px;
    padding-left: 4px;
}

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
    padding-right: 4px;
    padding-left: 4px;
}

.report_table {
    background: #829AB2;
    color: white;
}

/* border color */
#table_border1 {
    border: rgb(131, 129, 129) solid 1px;
}

#table_border2 {
    border: rgb(131, 129, 129) solid 1px;
    border-left: none;
}

#table_border3 {
    border: rgb(131, 129, 129) solid 1px;
    border-left: none;
}

#table_border4 {
    border: rgb(131, 129, 129) solid 1px;
    border-top: none;
}

#table_border5 {
    border: rgb(131, 129, 129) solid 1px;
    border-top: none;
    border-left: none;
}

#table_border6 {
    border: rgb(131, 129, 129) solid 1px;
    border-top: none;
    border-left: none;
}
